<h4 class="text-white bg-secondary">お問い合わせフォーム</h4>
  <!--お問い合わせフォーム-->
  <%= form_with model: @contact do |f| %>
    <!--名前-->
    <% f.label :お名前 %></br>
    <%= f.text_field :name %></br>

    <!--お問い合わせ内容-->
    <% f.label :お問い合わせ内容 %></br>
    <%= f.text_field :message %></br>

    <!--送信ボタン-->
    <%= f.submit '送信', class: 'btn btn-success' %>
  <% end %>
